*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    min-height: 100vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    gap: 1vw;
    flex: 1 1 0;
}

#top {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(204, 204, 204);
    padding: 0.5vw;
    /* color: white; */
    align-items: center;
}

#checkboxWrapper {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

#submit {
    border: none;
    background-color: rgb(170, 170, 170);
    /* color: white; */
    padding: 0.5vw;
    width: 10%;
}

#timerScoreWrapper {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

#timerWrapper {
    z-index: -1;
}

#scoreWrapper {
    display: flex;
    /* width: 6rem; */
    /* background-color: blue; */
    justify-content: center;
    gap: 0.25vw;
}

.scoreNum {
    width: 2.5rem;
    /* background-color: grey; */
    text-align: center;
}

#score {
    border-bottom: 0.1vw solid;
}

.row {
    display: flex;
    /* gap: 1vw; */
    /* background-color: yellow; */
    justify-content: space-evenly;
    /* align-items: center; */
    /* align-content: center; */
    /* padding-inline: 1vw; */
    flex: 1 1 0;
}

.equation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 4vw;
    /* gap: 0.2vw; */
}

.denominatorWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* background-color: aqua; */
}

.playerAnswer {
    display: flex;
    width: 100%;
    border: 0.1vw dashed;
    border-top: none;
    text-align: end;
}

hr {
    width: 100%;
}
