*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    position: relative;
    height: 100dvh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* gap: 1vw; */
    /* flex: 1 1 0; */
}

#top {
    display: flex;
    justify-content: space-around;
    background-color: rgb(204, 204, 204);
    padding: 0.5vw;
    /* color: white; */
    align-items: center;
}

@media screen and (max-width: 899px) {
    #top {
        padding: 1vw;
    }
}

.settingsWrapper {
    /* flex: 1; */
    /* background-color: yellow; */
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    user-select: none;
    color: black;
    cursor: pointer;
}

/* .settingsWrapper:hover {
    color: oklch(39.793% 0.00005 271.152);
} */

#checkboxWrapper {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    /* background-color: green; */
}

@media screen and (max-width: 899px) {
    #checkboxWrapper {
        gap: 5vw;
    }
}

button {
    color: black;
}

#submit {
    /* flex: 1; */
    border: none;
    background-color: rgb(170, 170, 170);
    /* color: white; */
    padding: 0.5vw;
    /* width: 10%; */
}

#submit:hover {
    cursor: pointer;
}

#timerScoreWrapper {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 25%;
    /* gap: 5vw; */
    /* background-color: red; */
    align-items: center;
}

@media screen and (max-width: 899px) {
    #timerScoreWrapper {
        flex-direction: column;
        /* background-color: red; */
    }
}

#timerWrapper {
    display: flex;
    z-index: -1;
    /* background-color: grey; */
}

@media screen and (max-width: 899px) {
    #timerWrapper {
        align-self: center;
    }
}

#scoreWrapper {
    display: flex;
    /* width: 6rem; */
    /* background-color: blue; */
    justify-content: center;
    gap: 0.25vw;
}

.scoreNum {
    width: 2.5rem;
    /* background-color: grey; */
    text-align: center;
}

#score {
    border-bottom: 0.1vw solid;
}

.invisibleButton {
    color: rgb(204, 204, 204);
    user-select: none;
}

.equation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 4vw;
    /* gap: 0.2vw; */
}

@media screen and (max-width: 899px) {
    .equation {
        width: fit-content;
    }
}

.denominatorWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* background-color: aqua; */
}

.playerAnswer {
    display: flex;
    width: 100%;
    border: 0.1vw dashed;
    border-top: none;
    text-align: end;
}

hr {
    width: 100%;
}

#bottom {
    /* display: flex; */
    /* background-color: red; */
    gap: 1vw;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    padding: 2vw;
}

@media screen and (max-width: 899px) {
    #bottom {
        gap: 5vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        padding: 2vw;
    }
}

#settings {
    position: absolute;
    align-self: center;
    top: 25%;
    z-index: 1;
    display: none;
    flex-direction: column;
    background-color: rgb(170, 170, 170);
}

#apply {
    border: none;
    background-color: rgb(204, 204, 204);
    padding: 0.75rem;
    width: 75%;
}

#apply:hover {
    cursor: pointer;
}

.settingsGroup {
    display: flex;
    flex-direction: column;
}

.settingsHeader {
    text-align: center;
    /* font-weight: bold; */
}

.checkboxGroup {

}

.windowTop {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    background-color: rgb(56, 56, 56);
}

.windowContent {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    align-items: center;
}

.closeButton {
    height: 2rem;
    width: 2rem;
    /* padding: 0.5vw; */
    justify-content: center;
    text-align: center;
    line-height: 2rem;
    user-select: none;
    color: white;
}
